.page {
  width: 100%;
  padding: 20px; 
  background-color: #F4F4F4F4;
}

.content {
  display: flex;
  align-items: flex-start; 
  width: 100%;
  justify-content: space-between
}

.content {
  :global(.QuestionsList) { 
    flex-grow: 1; 
  }

  :global(.QuestionsFilter) {
    flex-shrink: 0;
    width: 300px; 
  }
}

