.layout {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 72px 1fr;
  height: 100vh;
  transition: grid-template-columns 0.25s ease;
}

.collapsed {
  grid-template-columns: 88px 1fr;
}
.main {
  overflow-y: auto;
  min-width: 0;
}


